* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  font-size: calc(12px + 6 * ((100vw - 320px) / 1310));
  letter-spacing: 0.05rem;
  text-rendering: optimizeLegibility;
  line-height: 1.6;
  color: #333;
}
header {
  background-color: #3f4247;
}
header .title {
  font-weight: 100;
  text-align: center;
  letter-spacing: 0.15rem;
  padding: 16vh 0 calc(16vh - 60px) 0;
  color: #96c14d;
}
nav {
  background: #3f4247;
  text-align: center;
}
nav a {
  display: inline-block;
  padding: 20px;
  color: #fff;
  text-decoration: none;
}
nav a:hover,
nav a.active {
  background-color: #fff;
  color: #3f4247;
}
main {
  margin: 50px auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 16px;
}
main p {
  line-height: 1.6;
  margin-bottom: 1.7em;
}
footer {
  margin: 50px auto;
  width: 100%;
  max-width: 1200px;
  border-top: 1px solid #444;
  padding: 20px 0;
  text-align: center;
}
footer p {
  color: #444;
  font-size: 12px;
}
